variables in python

In [2]:
## variables is created when we assign a value 
## Declaring and assigning variables

age= 23
name= "nandini"
is_student = True

In [3]:
## printint the variables
print("age :" , age)
print("name :", name)

age : 23
name : nandini

In [4]:
##Nameing convention 
# valid variables name
first_name= "Aryan"
last_name= "Chaudhari"

In [5]:
# invalid variables name

 2age =30
first-name= "aryan"
@name= nandini

IndentationError: unexpected indent (936126162.py, line 3)

In [9]:
#type checking and conversion
age= 25
name = "shruti"
height=5.5

In [8]:
print (type(height))

<class 'float'>

In [10]:
## conversion
age_str = str(age)
print(age_str)
print(type(age_str))

25
<class 'str'>

In [11]:
## dynamic typing

var=10
print(var,type(var))

var= "nandini"
print(var,type(var))

var=5.1
print(var,type(var))

10 <class 'int'>
nandini <class 'str'>
5.1 <class 'float'>

In [12]:
## for  input
a = int(input("what is your age"))
print(a,type(a))

23 <class 'int'>