loop

In [3]:
## for loop
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
#eample for for loop
for i in range(2,8):
  print(i)

#2]
for j in range(10,1,-1):
  print(j)


# 3] string
 str="krish"
 for l in str:
  print(l)

IndentationError: unindent does not match any outer indentation level (<string>, line 11)

In [20]:
 str="krish"
 for l in str:
  print(l)

k
r
i
s
h

while loop

In [32]:
count= 0 
while count<5:
  print(count)
  count= count+1

0
1
2
3
4

In [40]:
# loop control statement
#1] break

 for i in range(10):
  if i==5:
    break
  print(i)

  # 2] continue

   for j in range(10):
    if j%2==0:
      continue
    print(j)

IndentationError: unexpected indent (12984228.py, line 4)

In [ ]:

 for i in range(3):  # neasted loop
  for j in range(2):
    print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

 example calculate the sum of first 10 natural number unsing while loop and for loop

In [ ]:
n=10
sum=0
count=1
while count<=n:
  sum=sum+count
  count= count+1
print( "sum of 10 num is ",sum) # using while loop

sum of 10 num is  55

In [ ]:
n= 10
sum= 0
for i in range(11):
  sum= sum+i
print (sum)
 # for loop

55

In [54]:
for i in range(101):
  if num>1:
    for j in range(2,i):
      if num%i==0:
        break
      else:
        print(num)